/********************************************/
/********************************************/
/************ CSS SITE TP FOUR **************/
/********************************************/
/********************************************/

.site
{
    background-color: #864B29;
}

.espace
{
    margin-top:15%;
}

.erreur
{
    margin: 0 auto;
    border: 5px solid #000000;
    width: 200px;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
}

.cadreco
{
    margin: 0 auto;
    border: 5px solid #000000;
    width: 200px;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
}

.bienvenue
{
    margin: 0 auto;
    border: 5px solid #000000;
    width: 80%;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
}

.tab
{
    margin: 0 auto;
    border: 5px solid #000000;
    width: 50%;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
}

.case
{
    padding: 50px;
    text-align: center;
}

.ligne
{
    border-top: #000000 1px solid;
    width: 5%;
    text-align: center;
}